

<div id="menutop_login">
          
          
<%= form_tag sessions_path do %>
  <p>
    <span style="padding-right:20px;">
    <%= label_tag :email %>&nbsp;
    <%= text_field_tag :email, params[:email] %>
    </span>
    
    <span style="padding-right:20px;">
    <%= label_tag :password %>&nbsp;
    <%= password_field_tag :password %>
    </span>
    <span class="button">
      <%= submit_tag "Log in" %>
    </span>
  </p>
  

<% end %>

</div>


<div id="container">

  <%= image_tag "finder.jpg", style: 'width: 100%;' %>





            
</div>


