<div class="block">
  <ul class="leftmenu">
    <li>
      <%= form_tag params, method: :get, id: 'people_search_form', remote: true do %>
        <div class="sfield field_left_2">
        <div class="ls"></div>
          <div class="rs">
            <%= link_to t('.remove_filters'), remote:true %>
          </div>
        </div>
      
      
        <div class="sfield field_left">
        <div class="ls"><%= t('.cfo')%></div>
          <div class="rs">
            <% Cfo.all.each do |cfo| %>
              <%= radio_button_tag :cfo_id, cfo.id %>
              <%= label_tag :name, cfo.name %>
              <br>
            <% end %>
          </div>
        </div>
        
        <div class="sfield field_left">
        <div class="ls"><%= t('.office')%></div>
          <div class="rs">
            
            
              <div id="filter_office_selects">
                <div class="grey_field_long">
                  <div id="filter_office_select[0]" class="office_select">
                    <%= select_tag "office_id", options_from_collection_for_select(@offices, :id, :name), include_blank: true, data_level: 0 %>
                  </div>
                </div>
              </div>
            
            
            
            
          </div>
        </div>
        
        <%= submit_tag t('general.search') %>
      <% end %>      
    </li>
  </ul>
</div>
