<%= fields_for person, {validators: {}} do |pf| %>
<div class="customform contact_form">
  <div class="sfield">
    <div class="ls"><%= pf.label :last_name, t('people.index.last_name') %>:</div>
    <div class="rs"><%= pf.text_field :last_name %></div>
  </div>
  <div class="sfield">
    <div class="ls"><%= pf.label :first_name, t('people.index.first_name') %>:</div>
    <div class="rs"><%= pf.text_field :first_name %></div>
  </div>
  <div class="sfield">
    <div class="ls"><%= pf.label :middle_name, t('people.index.middle_name') %>:</div>
    <div class="rs"><%= pf.text_field :middle_name %></div>
  </div>
  <div class="sfield">
    <div class="ls"><%= t('.offices')%></div>
    <div class="rs">
      <%= render 'people/offices_fields', no_remove: true %>
    </div>
  </div>
  <div class="sfield">
    <div class="ls"><%= t('.organization')%></div>
    <div class="rs">
      <%= render 'people/organization_fields', no_remove: true %>
    </div>
  </div>
  
        
</div>
  
<% end %>
