<script type="text/javascript">
var geocoder = new google.maps.Geocoder();

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerPosition(latLng) {
  document.getElementById('person_addresses_attributes_0_longitude').value = latLng.lng()
  document.getElementById('person_addresses_attributes_0_latitude').value = latLng.lat()

  document.getElementById('info').innerHTML = [
    latLng.lat(),
    latLng.lng()
  ].join(', ');
}

function updateMarkerAddress(str) {
  document.getElementById('address').innerHTML = str;
}

function initialize() {

  <%= lat = @person.addresses.blank? ? 14.445282806398495 : @person.addresses.first.latitude %>
  <%= long = @person.addresses.blank? ? 120.98913688280334 : @person.addresses.first.longitude %>

  var latLng = new google.maps.LatLng(<%= lat.blank? ? 14.445282806398495 : lat %>, <%= long.blank? ? 120.98913688280334 : long %>);
  var map = new google.maps.Map(document.getElementById('map_canvas_edit'), {
    zoom: 17,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var marker = new google.maps.Marker({
    position: latLng,
    title: 'Point A',
    map: map,
    draggable: true
  });
  
  // Update current position info.
  updateMarkerPosition(latLng);
  geocodePosition(latLng);
  
  // Add dragging event listeners.
  google.maps.event.addListener(marker, 'dragstart', function() {
    updateMarkerAddress('Dragging...');
  });
  
  google.maps.event.addListener(marker, 'drag', function() {
    updateMarkerPosition(marker.getPosition());
  });
  
  google.maps.event.addListener(marker, 'dragend', function() {
    geocodePosition(marker.getPosition());
  });
}

// Onload handler to fire off the app.
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="infoPanel">
  <b>Current position:</b>
  <div id="info"></div>
  <b>Closest matching address:</b>
  <div id="address"></div>
  <div id="map_canvas_edit"></div>
</div>


<%= fields_for person, {validators: {}} do |pf| %>
<div class="customform contact_form">
  
  <div class="field">
    <div class="sfield">
      <div class="ls"><%= pf.label :last_name, t('people.index.last_name') %>:</div>
      <div class="rs"><%= pf.text_field :last_name %></div>
    </div>
    <div class="sfield">
      <div class="ls"><%= pf.label :first_name, t('people.index.first_name') %>:</div>
      <div class="rs"><%= pf.text_field :first_name %></div>
    </div>
    <div class="sfield">
      <div class="ls"><%= pf.label :middle_name, t('people.index.middle_name') %>:</div>
      <div class="rs"><%= pf.text_field :middle_name %></div>
    </div>
  </div>
  <div class="field">
    <div class="sfield">
      <div class="ls"><%= pf.label :fb_profile, t('people.index.facebook_profile') %>:</div>
      <div class="rs"><%= pf.text_field :fb_profile %></div>
    </div>
  </div>
  <div class="sfield field">
    <div class="ls"><%= t('.addresses')%></div>
    <div class="rs">
      <%= render 'people/addresses_fields', no_remove: true, person: person %>
    </div>
  </div>
  <div class="sfield field">
    <div class="ls"><%= t('.phone_numbers')%></div>
    <div class="rs">
      <%= render 'people/phone_numbers_fields', no_remove: true, person: person %>
    </div>
  </div>
  
  <div class="sfield field">
    <div class="ls"><%= t('.offices')%></div>
    <div class="rs">
      <%= render 'people/offices_fields', no_remove: true, person: person %>
    </div>
  </div>
  
  <div class="sfield field">
    <div class="ls"><%= t('.cfo')%></div>
    <div class="rs">
      <% Cfo.all.each do |cfo| %>
        <%= pf.radio_button :cfo_id, cfo.id %>
        <%= pf.label :contactmethod_email, cfo.name %>
        <br>
      <% end %>
    </div>
  </div>
  
  <div class="sfield field">
    <div class="ls"><%= t('.organization')%></div>
    <div class="rs">
      <%= render 'people/organization_fields', no_remove: true, person: person %>
    </div>
  </div>
  
        
</div>
  
<% end %>
