<div class="pagemenu">
  <%= render partial: 'menu' %>
</div>

<div id="canvas">
  <div id="map" style="<%= 'display:none' %>">
  </div>
  <div id="table">
    <table class="listing" cellpadding="0" cellspacing="0">
      <tbody id="people_table">
        <%= render 'people/people', people: @people %>
        
      </tbody>
    </table>
    
  </div>
</div>

<div id="add_person_div" style="display:none" title="<%= t('.add_person') %>" class="fingerme">
  <%= render 'add_person', person: @person %>
</div>
