markers = []

function initialize() {
  var myLatlng = new google.maps.LatLng(14.445282806398495, 120.98913688280334);
  var mapOptions = {
    zoom: 15,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  
  <% @people.each_with_index do |person, index| %>
    <% if person.main_address.has_latlng? %>
      latlng = new google.maps.LatLng(<%= person.addresses.first.latitude %>,<%= person.addresses.first.longitude %>);
      marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: '<%= person.name %>',
        labelContent: '<%= person.name %>',
        html: '<div><%= image_tag person.fb_profile_pic_square unless person.fb_profile.blank? %><%= link_to person.name, person_path(person) %><br><%= person.organization_names(current_organization) %></div>'
      });
      markers.push(marker)
    <% end %>
  <% end %>
  
  for (var i = 0; i < markers.length; i++) {
    var marker = markers[i];
    var infowindow = new google.maps.InfoWindow();
    
    google.maps.event.addListener(marker, 'click', function () {
      infowindow.setContent(this.html);
      infowindow.open(map, this);
    });
  }
}

initialize();

$('#people_table').html('<%= j(render('people', people: @people)) %>')
