<h1>
  People
</h1>

<div class="pagemenu">
  <%= render partial: 'menu' %>
</div>

<table class="listing" cellpadding="0" cellspacing="0">
  <tr id="table_header">
    <th><%= t('.last_name') %></th>
    <th><%= t('.first_name') %></th>
    <th><%= t('.middle_name') %></th>
    <th><%= t('.offices') %></th>
    <th><%= t('.organizations') %></th>
  </tr>

  <tbody id="people_table">
    <% @people.each do |person| %>
      <%= render 'people/person', person: person %>
    <% end %>
  </tbody>
</table>

<div id="add_person_div" style="display:none" title="<%= t('.add_person') %>" class="fingerme">
  <%= render 'add_person', person: Person.new %>
</div>
