<script type="text/javascript">
markers = []

function initialize() {
  var myLatlng = new google.maps.LatLng(14.455661832483251,120.98109025575866);
  var mapOptions = {
    zoom: 15,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  
  <% @people.each_with_index do |person, index| %>
    latlng = new google.maps.LatLng(<%= person.addresses.first.latitude %>,<%= person.addresses.first.longitude %>);
    marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: '<%= person.name %>',
      labelContent: '<%= person.name %>',
      html: '<%= link_to person.name, person_path(person) %>'
    });
    
    markers.push(marker)
  <% end %>
  
  for (var i = 0; i < markers.length; i++) {
    var marker = markers[i];
    var infowindow = new google.maps.InfoWindow();
    
    google.maps.event.addListener(marker, 'click', function () {
      infowindow.setContent(this.html);
      infowindow.open(map, this);
    });
  }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="pagemenu">
  <%= render partial: 'menu' %>
</div>

<div id="canvas">
  <div id="map" style="<%= 'display:none' %>">
  </div>
  <div id="table">
    <table class="listing" cellpadding="0" cellspacing="0">
      <tbody id="people_table">
        <%= render 'people/people', people: @people %>
      </tbody>
    </table>
  </div>
</div>

<div id="add_person_div" style="display:none" title="<%= t('.add_person') %>" class="fingerme">
  <%= render 'add_person', person: @person %>
</div>

<%= will_paginate @people %>
