<h1>
  <%= @person.name %> <small><%= link_to(t('general.edit'), edit_person_path(@person)) %></small>
</h1>

<p>
  <%= @person.office_names.join(', ') %>
</p>

<p>
  <%= @person.organization_names %>
</p>

<%= gmaps4rails(@map_data) %>
