<h1>
  <%= @person.name %>
</h1>

<p>
  <%= @person.office_names.join(', ') %>
</p>

<p>
  <%= @person.organization_names %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
