<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field_group">
    <div class="sfield">
      <div class="ls"><%= f.label :name %>:</div>
      <div class="rs"><%= f.text_field :name %></div>
    </div>
    <div class="sfield">
      <div class="ls"><%= f.label :type_of_children %>:</div>
      <div class="rs"><%= f.text_field :type_of_children %></div>
    </div>
  </div>
  
  <div class="item formactions">
    <%= f.submit %><%= link_to(t('.back'), :back, :class=> "cancel")%>
  </div>
  
  <div class="formactions dangerzone">
    <h3><%= t('.danger_zone') %></h3>
    <div class="content">
    <p><%= t('.danger_explanation') %></p>
    <hr/>
    <p style="margin-top: 15px;"><%= link_to(t('.delete'), organization_path(@organization), method: :delete, class: 'delete cleangray', data: { confirm: t('.delete_confirm', type: @organization.parent.type_of_children) })%></p>
    </div>
  </div>
<% end %>
