<!DOCTYPE html>
<html>
<head>
  <title>Mtp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="outer">
    <div id="global">
      
    </div>
      
    
    
    <div id="menutop">
      <%= link_to 'People', people_path %>
      <%= link_to 'Organizations', organizations_path %>
    </div>
    
    <div id="left">
      <div class="block">
        <ul class="leftmenu">
          <li>
            hello
          </li>
          <li>
            hello
          </li>
        </ul>
      </div>
    </div>
    <div id="main">
    
      <%= yield %>
      
    </div>
  </div>

</body>
</html>
